@import 'typography';
@import 'vars';

body.error404 {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    #message {
        background-color: var(--surface-variant);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        border-radius: var(--shape-xs-rounding);
        *:not(:last-child) {
            margin-bottom: 1em;
        }
        svg {
            width: 100px;
            filter: drop-shadow(2px 3px 4px rgb(var(--on-surface-rgb)));
        }
        picture {
            user-select: none;
            pointer-events: none;
            img {
                pointer-events: none;
            }
        }
    }
}