.about-me {
    margin-bottom: 10em;

    .inner {
        // 2 Panels Text & Image
        display: grid;

        grid-template-columns: 3fr 2fr;

        @media only screen  and (max-width: #{$s-max-width}) {
            grid-template-columns: 1fr;
        }

        @media only screen and (min-width: #{$m-min-width}) and (max-width: #{$m-max-width}) {
            grid-template-columns: 1fr;
        }

        grid-gap: 1em;
        place-items: center center;

        .its-a-me {
            width: 300px;
            height: 300px;
            filter: grayscale(100%);

            &::after {
                content: "";
                position: relative;
                border: 2px dashed var(--on-background);
                border-radius: var(--shape-xs-rounding);
                width: 100%;
                height: 100%;
                top: -280px;
                left: +20px;
                display: block;
                z-index: -1;
                @include transition();
            }

            &:hover {
                filter: grayscale(0%);

                &::after {
                    top: -298px;
                    left: 2px;
                    border-color: var(--error);
                    border-style: dashed dotted;
                }
            }

            img {
                pointer-events: none;
                border-radius: var(--shape-xs-rounding);
                background-image: url('../img/portrait@1x.png');
                background-size: 300px 300px;
                @include transition(filter, 0.5s);

                [data-img-format="webp"] & {
                    background-image: url('../img/portrait@1x.webp');
                }

                [data-img-format="avif"] & {
                    background-image: url('../img/portrait@1x.avif');
                }

                @media screen and (-webkit-min-device-pixel-ratio: 2),
                screen and (min-resolution: 192dpi),
                screen and (min-resolution: 2dppx) {
                    & {
                        background-image: url('../img/portrait@2x.png');
                    }

                    [data-img-format="webp"] & {
                        background-image: url('../img/portrait@2x.webp');
                    }

                    [data-img-format="avif"] & {
                        background-image: url('../img/portrait@2x.avif');
                    }
                }
            }
        }
    }

    ul {
        &.skill-list {
            padding-top: 1em;
            display: grid;

            grid-template-columns: repeat(3, minmax(140px, 1fr));

            @media only screen  and (max-width: #{$s-max-width}) {
                grid-template-columns: 1fr 1fr;
            }

            // li {
            // &::before {
            //     content: "~";
            //     margin-right: 0.25em;
            // }
            // }
        }

        li {
            list-style: none;
            @include font(body-m);

            svg {
                height: 0.875em;
                display: inline-block;
                box-sizing: border-box;
                vertical-align: baseline;
            }
        }
    }
}