[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
}