@import "_typography.scss";

button {
    // reset
    border: 0;
    border-radius: var(--shape-no-rounding);
    cursor: pointer;
    outline: none;
    user-select: none;
    // background-color: transparent;
    &:active,
    &:focus {
        outline: none;
    }

    // layout
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr;
    height: 40px;
    border-radius: 20px;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
    justify-content: center;
    @include font(label-l);

    &.with-icon {
        i {
            font-size: 18px;
        }

        padding-left: 16px;
        grid-template-columns: 18px 1fr;
    }
}

button.filled {
    // color properties
    background-color: var(--primary);
    color: var(--on-primary);

    // states
    // enabled
    // -- default :D

    // disabled
    // -- I do not have disabled buttons

    // hovered
    &:hover {
        // state layer color + state opacity and elevation 1
        box-shadow: inset 0px 40px rgba(var(--on-primary-rgb), var(--hover-opacity)),
            -2px 2px 1px 0px rgba(var(--shadow-rgb), var(--elevation-1));
    }

    // focused
    &:focus {
        box-shadow: inset 0px 40px rgba(var(--on-primary-rgb), var(--focus-opacity));
    }

    // pressed
    &:active {
        box-shadow: inset 0px 40px rgba(var(--on-primary-rgb), var(--hover-opacity)), ;
    }
}

button.outlined {
    // color properties
    background-color: var(--surface);
    color: var(--primary);
    border: 1px solid var(--outline);

    // states
    // enabled
    // -- default :D

    // disabled
    // -- I do not have disabled buttons

    // hovered
    &:hover {
        // state layer color + state layer opacity
        background-color: rgba(var(--primary-rgb), var(--hover-opacity));
    }

    // focused
    &:focus {
        background-color: rgba(var(--primary-rgb), var(--focus-opacity));
        border: 1px solid var(--primary);
    }

    // pressed
    &:active,
    &[aria-selected="true"] {
        background-color: rgba(var(--primary-rgb), var(--press-opacity));
        border: 1px solid var(--outline);
    }

    &[aria-selected="true"] {
        cursor: default;
    }
}

button.icon {
    background-color: var(--primary);
    width: 40px;
    padding: 0;

    span,
    i {
        color: var(--on-primary);
        font-size: 24px;
    }

    // focused
    &:focus {
        box-shadow: -1px 1px rgba(var(--shadow-rgb), 0.5);
    }
}

button.text {
    color: var(--primary);
    background-color: transparent;
    @include font(label-l);
    padding-left: 12px;
    padding-right: 12px;
    width: fit-content;
    min-width: 48px;
    place-self: center end;

    &:hover {
        box-shadow: inset 0px 40px rgba(var(--primary-rgb), var(--hover-opacity));
    }

    &:focus {
        box-shadow: inset 0px 40px rgba(var(--primary-rgb), var(--focus-opacity));
        border: none;
    }
}

button.switch {
    appearance: none;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    height: fit-content;
    gap: 0;
    box-sizing: content-box;

    .thumb {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--shape-full-rounding);
        background-color: var(--outline);
        box-shadow: none;
        width: 16px;
        height: 16px;
        @include transition();
        &.icon{
            height: 24px;
            width: 24px;
        }
        i {
            color: var(--surface-variant);
            font-size: 16px;
            &::before {
                content: "\f00d";
            }
        }
    }

    .track {
        cursor: pointer;
        width: 52px;
        height: 32px;
        border: 2px solid var(--outline);
        border-radius: 16px;
        display: flex;
        align-items: center;
        background-color: var(--surface-variant);
        padding-left: 4px;
        @include transition(background-color, $delay: 0.1s);
        @media (hover: hover){
            &:hover {
                .thumb {
                    box-shadow: 0px 0px 0px 10px rgba(var(--shadow-rgb), 0.1);        
                }
            }
        }
        &:active {
            .thumb {
                transform-origin: center;
                transform: scale(116.667%, 116.667%);
                box-shadow: 0px 0px 0px 10px rgba(var(--shadow-rgb), 0.1);
            }
        }
    }
    
    
    input[type="checkbox"]:checked ~ .track {
        background-color: var(--primary);
        border: 2px solid var(--primary);
        .thumb {
            transform-origin: center;
            transform: translateX(20px);
            background-color: var(--on-primary);
            i {
                color: var(--on-primary-container);
                &::before{
                    content: "\f00c";
                }
            }
        }
        &:active .thumb {
            transform: translateX(20px) scale(116.667%, 116.667%);
        }

    }
    &:disabled {
        opacity: 0.12;
        cursor: not-allowed;
        label {
            pointer-events: none;
        }
    }
}
