@import 'mixins';

#cookie-banner {
    position: fixed;
    @media screen and (max-width: $s-max-width) {
        top: 1em;
        left: 1em;
        right: 1em;
        bottom: 1em;
    }
    @media screen and (min-width: $m-min-width) {
        bottom: 0;
        margin: 1em;
        max-width: calc(100vw - 2em);
        max-height: calc(100vh - 2em);
    }
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--surface-variant);
    color: var(--on-surface-variant);
    padding: 1em;
    border-radius: var(--shape-xs-rounding);
    overflow: auto;
    z-index: 1;
    perspective: 1500px; /* flip  animation */

    h3 {
        text-align: center;
    }

    hr {
        width: 50%;
        margin: 1em auto;
    }

    &.rotated {
        .turnaround {
            transform: rotateY(180deg);
        }
    }

    .turnaround {
        @include transition();
        transform-style: preserve-3d;
        position: relative;
        height: 100%;
    }

    .front,
    .back {
        backface-visibility: hidden;
        @media screen and (max-width: $s-max-width) {
            width: calc(100vw - 4em);
            height: calc(100vh - 2em);
            overflow-y: scroll;
        }
    }

    .back {
        transform: rotateY(180deg);
    }

    .consent-text {
        box-sizing: border-box;
        padding: 0 1em;
        margin: 2em 0;
        z-index: 3;

        p {
            z-index: 3;
            grid-area: text;
            @include font(body-m);

            b {
                font-weight: bolder;
            }

            &.usa-addition,
            &.under-16,
            &.disclaimer {
                @include font(body-s);
            }

            &.under-16 b {
                color: var(--error);
            }

            &:not(:first-child) {
                margin-top: 1em;
            }
        }
    }

    .actions {
        grid-area: button;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 1em;
        z-index: 3;

        #accept-all {
            background-color: var(--primary);
            color: var(--on-primary);
        }

        #accept-none {
            background-color: var(--error);
            color: var(--on-error);
        }

        #show-cookie-details,
        #hide-cookie-details {

            @include text_on_hover_before('open: ');
        }

        button {
            &:not(:first-child) {
                margin-left: 1em;
            }
            @media screen and (max-width: $s-max-width) {
                margin-top: 1em;
                &:not(:first-child) {
                    margin-left: 0;
                }   
            }
        }
    }

    &::before,
    &::after {
        position: absolute;
        content: "\f564";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        font-size: 100px;
        opacity: 0.3;
        color: var(--tertiary);
    }

    &::before {
        left: 1rem;
        top: 1rem;
        z-index: 0;
    }

    &::after {
        right: 1rem;
        bottom: 1rem;
        z-index: 0;
    }

    .cookies-list {
        padding-right: 1em;
        padding-left: 1em;

        h3 {
            margin-top: 1em;
            margin-bottom: 2em;
        }

        div.essential,
        div.functional {
            border: 1px solid;
            border-radius: var(--shape-xs-rounding);
            padding: 1em 1em 1em 1em;
            display: flex;
            flex-direction: column;

            .consent-switch {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &:not(:last-child) {
                margin-bottom: 1em;
            }
        }

        div.actions {
            display: flex;
            flex-direction: row;
            margin: 1em 0;
            z-index: 3;
        }

        button[role="tab"] {
            align-self: flex-start;
            margin-top: 1em;
            margin-inline-start: -1em;

            &[aria-selected="false"] {
                @include text_on_hover_before('open: ');
            }

            &[aria-selected="true"] {
                color: var(--error);
                @include text_on_hover_before('close: ');

                &:hover {
                    box-shadow: inset 0px 40px rgba(var(--error-rgb), var(--hover-opacity));
                }

                &:focus {
                    box-shadow: inset 0px 40px rgba(var(--error-rgb), var(--focus-opacity));
                }
            }
        }

        .service-information {
            display: block;    
            margin-top: 1em;
            @include transition($duration: 0.25s);
        }
    }
}