.hero {
    margin-bottom: 10em;

    h1 {
        /**
         * optical alignement; 
         * the `H` is visually more left-aligned than the `A` below it
         */
        padding-left: 0.5em;
    }
    h2 {
        &::before {
            content: '</';
            display: inline-block;
            color: var(--error);
        }
        &::after {
            content: '>';
            display: inline-block;
            color: var(--error);
        }
    }

    p {
        margin-top: 0.5em;
        max-width: 50em;
    }
}