.input-container {
    position: relative;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 3fr 1fr;
    grid-template-areas: "input input input""support . counter";

    @mixin label_text_empty {
        // label text (empty)
        @include font(body-l);
        color: var(--on-surface-variant);
    }

    @mixin label_text_populated {
        // label text (populated)
        @include font(body-s);
        color: var(--primary);

        transform: translateY(-100%);
        top: 2.2rem;
        padding: 8px 16px;
    }

    label {
        display: block;
        width: 100%;
        box-sizing: border-box;

        padding: 0px 16px;
        // background-color: var(--surface-variant);

        position: absolute;
        top: 1em;
        transform-origin: left top;
        user-select: none;
        pointer-events: none;
        transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), top 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

        @include label_text_empty;
    }

    select,
    input,
    textarea {
        // reset
        all: unset;
        // container
        grid-area: input;
        width: 100%;
        box-sizing: border-box;
        background-color: var(--surface-variant);
        border-radius: var(--xs-top-rounding);
        // layout
        padding: 0 16px;
        // input text
        color: var(--on-surface);
        @include font(body-l);
        // active indicator
        border-bottom: 1px solid var(--on-surface-variant);

        // animation
        transition: border 500ms,
            top 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
        // caret
        caret-color: var(--primary);

        &:placeholder-shown+label {
            @include label_text_empty;
        }

        &:not(:placeholder-shown) {
            padding: 8px 16px;
            padding-top: 1.5em;

            &+label {
                @include label_text_populated;
            }
        }

        &:required+label::after {
            content: '*';
            vertical-align: super;
            font-size: 75%;
        }

        // states
        &:focus {
            outline: none;
            border-bottom: 1px solid var(--primary);

            padding: 8px 16px;
            padding-top: 1.5em;

            &+label {
                @include label_text_populated;
            }
        }

        scrollbar-color: var(--surface-variant) auto;
    }

    .support-text {
        grid-area: support;
        place-self: start start;
        color: var(--on-surface-variant);

        @include font(body-s);
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 4px;
    }

    .character-counter {
        grid-area: counter;
        place-self: start end;

        @include font(body-s);
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 4px;
    }

    &.invalid {
        label {
            color: var(--error) !important;
        }

        select,
        input,
        textarea {
            background-color: rgba(var(--error), 0.25);
            border-bottom: 1px solid var(--error);
            // caret
            caret-color: var(--error);
        }

        .support-text {
            color: var(--error);
        }
    }



    @mixin autogrow-identical {
        font: inherit;
        grid-area: 1 / 1 / 2 / 2;
        min-height: 56px;
        padding-top: 2em;
        overflow-x: scroll;
    }

    .auto-grow {
        display: grid;
        grid-area: input;

        &::after {
            content: attr(data-replicated-value) " ";
            white-space: pre-wrap;
            visibility: hidden;
            @include autogrow-identical();
            padding-top: 2em;
        }

        &>textarea {
            resize: none;
            overflow: hidden;
            @include autogrow-identical();

            &:not(:placeholder-shown) {
                // padding-top: 2em;

                &~label {
                    padding-top: 11px;
                }
            }

            &~label {
                background-color: var(--surface-variant);
                width: calc(100% - 20px);
            }
        }
    }

    input {
        height: 56px;
    }

    ::placeholder {
        color: var(--on-surface-variant);
    }
}