#loading {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;

    span {
        font-family: 'FiraMono';
        filter: blur(0px);
        animation: blur-text 1.5s infinite linear alternate;
    }
    @keyframes blur-text {
        0% {filter: blur(0px);}
        100% {filter: blur(2px);}
    }    
}
