
@mixin _font($line-height, $font-size, $tracking, $weight) {
    line-height: $line-height;
    font-size: $font-size;
    letter-spacing: $tracking;
    font-weight: $weight;
}
@mixin text_on_hover_before($text) {
    @media (hover: hover) {
        &:hover {
            display: inline-block; // no grid
        
            &::before {
                content: '#{$text}';
                display: inline-block;
                margin-right: 0.2rem;
            }
        }
    }
}

@mixin transition($property: all, $duration: 0.25s, $timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), $delay: 0s) {
    transition: #{$property} #{$duration} #{$timing-function} #{$delay}
}