@import "_typography.scss";

.snackbar {
    display: grid;
    grid-template-columns: 4fr 1fr;
    box-sizing: border-box;
    color: var(--on-success);
    background-color: var(--success);
    padding: 16px 8px 16px 16px;
    place-content: center start;
    border-radius: var(--shape-xs-rounding);
    position: fixed;
    bottom: 1em;
    left: 1em;
    right: 1em;
    z-index: 1;
    button {
        color: var(--on-success);
    }

    &.error {
        color: var(--on-error);
        background-color: var(--error);

        button {
            color: var(--on-error);
        }
    }


    &[aria-hidden="true"] {
        @include transition($duration: 0.7s);
    }

    &[aria-hidden="false"] {
        @include transition();
    }

    p {
        display: flex;
        align-items: center;
    }
}

.say-hello {
    margin-bottom: 10em;

    .inner {
        max-width: 960px;
        margin: 0 auto;

        p {
            margin-bottom: 2em;
        }
    }
    .cookies-disallowed {
        max-width: 600px;
        margin: 0 auto;
        background-color: var(--surface-variant);
        padding: 2em;
        border-radius: var(--shape-xs-rounding);
        p {
            margin-bottom: 1.5em;
        }
        button.filled {
            margin-bottom: 1.5em;
        }
        .dotted-line {
            width: 75%;
            margin: 1em auto;
            border-bottom: 3px dotted var(--on-surface-variant);
        }
        .under-16 b {
            color: var(--error);
        }
    }
}