@use "sass:math";
$material-icons-font-path: '/fonts/material-icons/' !default;
@import '../node_modules/material-icons/iconfont/material-icons.scss';
@import 'mixins';
@font-face {
    font-family: 'RobotoMono';
    src: url('/fonts/roboto/RobotoMono-VariableFont_wght.ttf') format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoMono';
    src: url('/fonts/roboto/RobotoMono-Italic-VariableFont_wght.ttf') format("truetype");
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FiraMono';
    src: url('/fonts/fira/FiraMono-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FiraMono';
    src: url('/fonts/fira/FiraMono-Medium.ttf') format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FiraMono';
    src: url('/fonts/fira/FiraMono-Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'RobotoMono', monospace, system-ui, sans-serif;
}

// inspired by https://m3.material.io/styles/typography/type-scale-tokens
$typography: (
    "display-l": ("height": 64,
        "size": 57,
        "tracking": 0,
        "weight": 400),
    "display-m": ("height": 52,
        "size": 45,
        "tracking": 0,
        "weight": 400),
    "display-s": ("height": 44,
        "size": 36,
        "tracking": 0,
        "weight": 400),
    "headline-l": ("height": 40,
        "size": 32,
        "tracking": 0,
        "weight": 400),
    "headline-m": ("height": 36,
        "size": 28,
        "tracking": 0,
        "weight": 400),
    "headline-s": ("height": 32,
        "size": 24,
        "tracking": 0,
        "weight": 400),
    "title-l": ("height": 28,
        "size": 22,
        "tracking": 0,
        "weight": 400),
    "title-m": ("height": 24,
        "size": 16,
        "tracking": 0.15,
        "weight": 500),
    "title-s": ("height": 20,
        "size": 14,
        "tracking": 0.1,
        "weight": 500),
    "label-l": ("height": 20,
        "size": 14,
        "tracking": 0.1,
        "weight": 500),
    "label-m": ("height": 16,
        "size": 12,
        "tracking": 0.5,
        "weight": 500),
    "label-s": ("height": 16,
        "size": 11,
        "tracking": 0.5,
        "weight": 500),
    "body-l": ("height": 24,
        "size": 16,
        "tracking": 0.5,
        "weight": 400),
    "body-m": ("height": 20,
        "size": 14,
        "tracking": 0.25,
        "weight": 400),
    "body-s": ("height": 16,
        "size": 12,
        "tracking": 0.4,
        "weight": 400)
);

@function sp2rem($sp) {
    @return math.div($sp, 16) * 1rem;
}

@mixin font($typo-key) {
    $value: map-get($typography, $typo-key);
    $h: sp2rem(map-get($value, "height"));
    $s: sp2rem(map-get($value, "size"));
    $t: sp2rem(map-get($value, "tracking"));
    $w: map-get($value, "weight");

    @include _font($h, $s, $t, $w);
}

@each $key,
$value in $typography {
    .#{$key} {
        @include font($key);
    }
}