$s-max-width: 599px;
$m-min-width: 600px;
$m-max-width: 839px;
$l-min-width: 840px;
$l-max-width: 1000px;

$vars: (
    "hover-opacity": 8%,
    "focus-opacity": 12%,
    "press-opacity": 12%,
    "drag-opacity": 16%,

    "elevation-1": 5%,
    "elevation-2": 8%,
    "elevation-3": 11%,
    "elevation-4": 12%,
    "elevation-5": 14%,

    "grid-margin": (
        "s":("left": 8px,
            "right": 8px,
            "gap": 8px,
        ),
        "m":("left": 12px,
            "right": 12px,
            "gap": 12px,
        ),
        "l":("left": 12px,
            "right": 12px,
            "gap": 12px,
        ),
        "xl":("left": 16px,
            "right": 16px,
            "gap": 16px,
        ),
    ),
    "shape-no-rounding": 0,
    "shape-xs-rounding": 4px,
    "shape-xs-top-rounding": 4px 4px 0px 0px,
    "shape-full-rounding": 50%,

    "cubic-bezier-transition": all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1)
);

@mixin write_margins($map) {
    --grid-left-margin: #{map-get($map: $map, $key: left)};
    --grid-right-margin: #{map-get($map: $map, $key: right)};
    --grid-gap: #{map-get($map: $map, $key: gap)};
}

@mixin write_vars {

    @each $key,
    $val in $vars {

        @if $key  !=grid-margin {
            --#{$key}: #{$val};
        }

        @else {
            $margins: map-get($map: $val, $key: xl);
            @include write_margins($margins);

            @media only screen  and (max-width: #{$s-max-width}) {
                $margins: map-get($map: $val, $key: s);
                @include write_margins($margins);
            }

            @media only screen and (min-width: #{$m-min-width}) and (max-width: #{$m-max-width}) {
                $margins: map-get($map: $val, $key: m);
                @include write_margins($margins);
            }

            @media only screen and (min-width: #{$l-min-width}) and (max-width: #{$l-max-width}) {
                $margins: map-get($map: $val, $key: l);
                @include write_margins($margins);
            }
        }
    }
}