@import 'mixins';
.worked-at {
    margin-bottom: 10em;

    @media only screen  and (max-width: #{$s-max-width}) {
        h2 {
            white-space: normal;
        }
    }

    .inner {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: auto;
        grid-gap: 2em;
        grid-template-areas: "companies jobs";

        @media only screen  and (max-width: #{$s-max-width}) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, auto);
            grid-template-areas: "companies""jobs";
        }

    }

    .companies {
        grid-area: companies;
        display: flex;
        flex-direction: column;

        @media only screen  and (max-width: #{$s-max-width}) {
            flex-direction: row;
            justify-content: space-between;
        }

        button {
            margin: 2em 0;
        }

        button[aria-selected=false] {
            @include text_on_hover_before('open: ');
        }
    }

    .jobs {
        grid-area: jobs;
        width: 100%;
        // min-height: 300px;
        .job-panel[aria-hidden="true"] {
            display: none;
        }
        
        .panel-header {
            margin-bottom: 1em;
        }

        .panel-body {
            ul {
                margin-left: 1em;

                li {
                    margin-bottom: 0.25em;
                }
            }
        }
    }
}