@import 'typography';
@import 'vars';
.privacy {
    address {
        margin-top: 1em;
    }
    ul {
        padding: 1em;
        li {
            @include font(body-m);
        }
    }
    h2 {
        @include font(headline-s);
        &:not(:first-child) {
            margin-top: 1em;
        }
    }
    p {
        @include font(body-m);
    }
    &::before {
        position: relative;
        content: "\e4f0";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        font-size: 100px;
        opacity: 0.3;
        color: var(--tertiary);
    }
    &::before{
        z-index: 0;
    }
}