@use "sass:math";
@import 'reset';
@import 'aria';
@import 'colors';
@import 'vars';

@import 'typography';

:root {
    @include theme-colors(light-theme);

    &[data-theme="light"] {
        @include theme-colors(light-theme);
    }

    @media (prefers-color-scheme: light) {
        @include theme-colors(light-theme);
    }

    &[data-theme="dark"] {
        @include theme-colors(dark-theme);
    }

    @media (prefers-color-scheme: dark) {
        @include theme-colors(dark-theme);
    }
    --transparent: transparent;
    @include write_vars;
}

body {
    background-color: var(--background);
    color: var(--on-background);
    counter-reset: section; // Reset counter 0 for numbered heading 
    min-height: 100%;
    &:has(.grid.cookie-banner-opened) {
        overflow-y: hidden;
    }
}

[hidden], [hidden="hidden"], .hidden {
    display: none !important;
}

a {
    text-decoration: none;
    color: var(--primary);
    display: inline-block;
    outline: none;

    &::after {
        content: "";
        display: block;
        background-color: var(--primary);
        height: 1px;
        width: 0;
        position: relative;
        bottom: 0.05em;
        @include transition();
        opacity: 1;
    }

    &:visited {
        color: var(--primary);
    }

    @media (hover: hover) {
        &[href^="mailto"]:hover,
        &:hover {
            @include transition();

            &:not(.nojoke)::before {
                content: "goto:";
                display: inline-block;
                margin-right: 0.5em;
            }
            
            &::after {
                width: 100%;
            }
        }
        &[href^="mailto"]:hover {

            &:not(.nojoke)::before {
                content: "mailto:";
            }
        }
    }
}

.grid {
    display: grid;
    margin-left: var(--grid-left-margin);
    margin-right: var(--grid-right-margin);
    grid-gap: var(--grid-gap);
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 8em auto auto;
    grid-template-areas: "header header header header header header header header header header header header"
        ". main main main main main main main main main main ."
        "footer footer footer footer footer footer footer footer footer footer footer footer";

    @media only screen  and (max-width: #{$s-max-width}) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "header header header header"
            "main main main main"
            "footer footer footer footer";
    }

    @media only screen and (min-width: #{$m-min-width}) and (max-width: #{$m-max-width}),
    only screen and (min-width: #{$l-min-width}) and (max-width: #{$l-max-width}) {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: "header header header header header header header header header header header header"
            "main main main main main main main main main main main main"
            "footer footer footer footer footer footer footer footer footer footer footer footer";
    }
    @include transition(filter, 0.3s);
    @include transition(opacity, 0.3s);
    &.cookie-banner-opened {
        filter: blur(4px);
        button, a, select {
            pointer-events: none;
            user-select: none;
        }
    }
}
.loading .grid {
    opacity: 0;
}
.showgrid .grid>* {
    border: 3px dashed var(--error)
}

header {
    grid-area: header;
    margin-bottom: 1em;
    // always full size
    margin-left: calc(var(--grid-left-margin) * -1); // subtract current margin values
    margin-right: calc(var(--grid-left-margin) * -1);
    max-height: 8em;
    // always on top
    position: sticky;
    top: 0;
    z-index: 1; // so that `main` can disappear underneath

    // Color
    background-color: var(--surface);
    @include transition(max-height, 0.2s, ease-out);
    &.scrolled {
        background-color: var(--surface);
        box-shadow: -9px 9px 5px 0px rgba(var(--shadow-rgb), var(--elevation-3));
        max-height: 3em;
        @include transition(max-height, 0.3s, ease-in);
    }

    color: var(--on-surface);
    @include font(title-l);

    // layout
    display: flex;
    align-items: center;
    justify-content: space-between;
    // height: 64px; // in grid definition
    padding-left: 16px;
    padding-right: 16px;


    p {
        @include font(title-l);
        @include transition($duration: 0.7s);
        
        &.dont-show {
            opacity: 0;
        }
    }

    div.trailing {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        button {
            margin-right: 2em;
        }

        .input-container {
            margin-bottom: 0;
        }
    }
}

main {
    grid-area: main;
    padding: 0.5em 3em;

    @media screen  and (max-width: #{$s-max-width}) {
        padding: 0.5em 1.5em;
    }
}

footer {
    grid-area: footer;
    place-self: center stretch;
    text-align: center;
    font-size: 10pt;
    padding: 1em;
}

.heading {
    display: flex; // so I can put ::after next to the header
    align-items: center;
    white-space: nowrap; // so I can set ::after width 100% without wrapping header
    margin-bottom: 0.9em;
}

.numbered {
    &::before {
        counter-increment: section 1;
        content: counter(section) "."; // 01., 02. and so on
        margin-right: 0.25em;
    }

    &::after {
        content: "";
        display: block;
        margin-left: 1em;
        height: 1px;
        background-color: var(--primary);
        width: 100%; // the rest of the line
    }
}

sup {
    font-size: 85%;
}
dl {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0 1em;
    @media screen  and (max-width: #{$s-max-width}) {
        grid-template-columns: 1fr;
        gap: 0;
    }
    dt {
        @include font(label-m);
        @media screen  and (max-width: #{$s-max-width}) {
            margin-top: 0.5em;
            margin-bottom: 0.2em;
            font-weight: bold;
            text-decoration: underline;
        }
    }
    dd {
        @include font(body-s);
    }
}

code {
    font-family: 'FiraMono';
    background-color: var(--surface);
    padding: 0.5em;
    box-sizing: border-box;
    white-space: pre-wrap;
    display: block;
}

.d-block {
    display: block;
}
.ml-1 {
    margin-left: 1em;
}
.mb-1 {
    margin-bottom: 1em;
}
.mt-1 {
    margin-top: 1em;
}

@import 'buttons';
@import 'inputs';


@import 'loading';
@import 'hero';
@import 'about_me';
@import 'worked_at';
@import 'say_hello';
@import 'cookie_banner';