@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/material-icons/material-icons.woff2") format("woff2"), url("/fonts/material-icons/material-icons.woff") format("woff");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/material-icons/material-icons-outlined.woff2") format("woff2"), url("/fonts/material-icons/material-icons-outlined.woff") format("woff");
}
.material-icons-outlined {
  font-family: "Material Icons Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

@font-face {
  font-family: "Material Icons Round";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/material-icons/material-icons-round.woff2") format("woff2"), url("/fonts/material-icons/material-icons-round.woff") format("woff");
}
.material-icons-round {
  font-family: "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

@font-face {
  font-family: "Material Icons Sharp";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/material-icons/material-icons-sharp.woff2") format("woff2"), url("/fonts/material-icons/material-icons-sharp.woff") format("woff");
}
.material-icons-sharp {
  font-family: "Material Icons Sharp";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

@font-face {
  font-family: "Material Icons Two Tone";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/material-icons/material-icons-two-tone.woff2") format("woff2"), url("/fonts/material-icons/material-icons-two-tone.woff") format("woff");
}
.material-icons-two-tone {
  font-family: "Material Icons Two Tone";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

@font-face {
  font-family: "RobotoMono";
  src: url("/fonts/roboto/RobotoMono-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RobotoMono";
  src: url("/fonts/roboto/RobotoMono-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FiraMono";
  src: url("/fonts/fira/FiraMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraMono";
  src: url("/fonts/fira/FiraMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraMono";
  src: url("/fonts/fira/FiraMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "RobotoMono", monospace, system-ui, sans-serif;
}

.display-l {
  line-height: 4rem;
  font-size: 3.5625rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.display-m {
  line-height: 3.25rem;
  font-size: 2.8125rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.display-s {
  line-height: 2.75rem;
  font-size: 2.25rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.headline-l {
  line-height: 2.5rem;
  font-size: 2rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.headline-m {
  line-height: 2.25rem;
  font-size: 1.75rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.headline-s {
  line-height: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.title-l {
  line-height: 1.75rem;
  font-size: 1.375rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.title-m {
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: 0.009375rem;
  font-weight: 500;
}

.title-s {
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.00625rem;
  font-weight: 500;
}

.label-l {
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.00625rem;
  font-weight: 500;
}

.label-m {
  line-height: 1rem;
  font-size: 0.75rem;
  letter-spacing: 0.03125rem;
  font-weight: 500;
}

.label-s {
  line-height: 1rem;
  font-size: 0.6875rem;
  letter-spacing: 0.03125rem;
  font-weight: 500;
}

.body-l {
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: 0.03125rem;
  font-weight: 400;
}

.body-m {
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.015625rem;
  font-weight: 400;
}

.body-s {
  line-height: 1rem;
  font-size: 0.75rem;
  letter-spacing: 0.025rem;
  font-weight: 400;
}

.privacy address {
  margin-top: 1em;
}
.privacy ul {
  padding: 1em;
}
.privacy ul li {
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.015625rem;
  font-weight: 400;
}
.privacy h2 {
  line-height: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0rem;
  font-weight: 400;
}
.privacy h2:not(:first-child) {
  margin-top: 1em;
}
.privacy p {
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.015625rem;
  font-weight: 400;
}
.privacy::before {
  position: relative;
  content: "\e4f0";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 100px;
  opacity: 0.3;
  color: var(--tertiary);
}
.privacy::before {
  z-index: 0;
}

/*# sourceMappingURL=privacy.css.map */
