* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  box-sizing: border-box;
}

[aria-hidden=true] {
  visibility: hidden;
  opacity: 0;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

[aria-hidden=false] {
  visibility: visible;
  opacity: 1;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/material-icons/material-icons.woff2") format("woff2"), url("/fonts/material-icons/material-icons.woff") format("woff");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/material-icons/material-icons-outlined.woff2") format("woff2"), url("/fonts/material-icons/material-icons-outlined.woff") format("woff");
}
.material-icons-outlined {
  font-family: "Material Icons Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

@font-face {
  font-family: "Material Icons Round";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/material-icons/material-icons-round.woff2") format("woff2"), url("/fonts/material-icons/material-icons-round.woff") format("woff");
}
.material-icons-round {
  font-family: "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

@font-face {
  font-family: "Material Icons Sharp";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/material-icons/material-icons-sharp.woff2") format("woff2"), url("/fonts/material-icons/material-icons-sharp.woff") format("woff");
}
.material-icons-sharp {
  font-family: "Material Icons Sharp";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

@font-face {
  font-family: "Material Icons Two Tone";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/material-icons/material-icons-two-tone.woff2") format("woff2"), url("/fonts/material-icons/material-icons-two-tone.woff") format("woff");
}
.material-icons-two-tone {
  font-family: "Material Icons Two Tone";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

@font-face {
  font-family: "RobotoMono";
  src: url("/fonts/roboto/RobotoMono-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RobotoMono";
  src: url("/fonts/roboto/RobotoMono-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FiraMono";
  src: url("/fonts/fira/FiraMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraMono";
  src: url("/fonts/fira/FiraMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraMono";
  src: url("/fonts/fira/FiraMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "RobotoMono", monospace, system-ui, sans-serif;
}

.display-l {
  line-height: 4rem;
  font-size: 3.5625rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.display-m {
  line-height: 3.25rem;
  font-size: 2.8125rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.display-s {
  line-height: 2.75rem;
  font-size: 2.25rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.headline-l {
  line-height: 2.5rem;
  font-size: 2rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.headline-m {
  line-height: 2.25rem;
  font-size: 1.75rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.headline-s {
  line-height: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.title-l {
  line-height: 1.75rem;
  font-size: 1.375rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.title-m {
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: 0.009375rem;
  font-weight: 500;
}

.title-s {
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.00625rem;
  font-weight: 500;
}

.label-l {
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.00625rem;
  font-weight: 500;
}

.label-m {
  line-height: 1rem;
  font-size: 0.75rem;
  letter-spacing: 0.03125rem;
  font-weight: 500;
}

.label-s {
  line-height: 1rem;
  font-size: 0.6875rem;
  letter-spacing: 0.03125rem;
  font-weight: 500;
}

.body-l {
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: 0.03125rem;
  font-weight: 400;
}

.body-m {
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.015625rem;
  font-weight: 400;
}

.body-s {
  line-height: 1rem;
  font-size: 0.75rem;
  letter-spacing: 0.025rem;
  font-weight: 400;
}

:root {
  --primary: #00629f;
  --primary-rgb: 0,
  98,
  159;
  --on-primary: #ffffff;
  --on-primary-rgb: 255,
  255,
  255;
  --primary-container: #cfe4ff;
  --primary-container-rgb: 207,
  228,
  255;
  --on-primary-container: #001d34;
  --on-primary-container-rgb: 0,
  29,
  52;
  --secondary: #00677c;
  --secondary-rgb: 0,
  103,
  124;
  --on-secondary: #ffffff;
  --on-secondary-rgb: 255,
  255,
  255;
  --secondary-container: #b0ecff;
  --secondary-container-rgb: 176,
  236,
  255;
  --on-secondary-container: #001f27;
  --on-secondary-container-rgb: 0,
  31,
  39;
  --tertiary: #695779;
  --tertiary-rgb: 105,
  87,
  121;
  --on-tertiary: #ffffff;
  --on-tertiary-rgb: 255,
  255,
  255;
  --tertiary-container: #f0dbff;
  --tertiary-container-rgb: 240,
  219,
  255;
  --on-tertiary-container: #241532;
  --on-tertiary-container-rgb: 36,
  21,
  50;
  --error: #ba1a1a;
  --error-rgb: 186,
  26,
  26;
  --on-error: #ffffff;
  --on-error-rgb: 255,
  255,
  255;
  --error-container: #ffdad6;
  --error-container-rgb: 255,
  218,
  214;
  --on-error-container: #410002;
  --on-error-container-rgb: 65,
  0,
  2;
  --success: #48680d;
  --success-rgb: 72,
  104,
  13;
  --on-success: #ffffff;
  --on-success-rgb: 255,
  255,
  255;
  --success-container: #c9f088;
  --success-container-rgb: 201,
  240,
  136;
  --on-success-container: #121f00;
  --on-success-container-rgb: 18,
  31,
  0;
  --background: #fcfcff;
  --background-rgb: 252,
  252,
  255;
  --on-background: #1a1c1e;
  --on-background-rgb: 26,
  28,
  30;
  --surface: #fcfcff;
  --surface-rgb: 252,
  252,
  255;
  --on-surface: #1a1c1e;
  --on-surface-rgb: 26,
  28,
  30;
  --outline: #73777f;
  --outline-rgb: 115,
  119,
  127;
  --surface-variant: #dee3eb;
  --surface-variant-rgb: 222,
  227,
  235;
  --on-surface-variant: #42474e;
  --on-surface-variant-rgb: 66,
  71,
  78;
  --shadow: #000000;
  --shadow-rgb: 0,
  0,
  0;
  --transparent: transparent;
  --hover-opacity: 8%;
  --focus-opacity: 12%;
  --press-opacity: 12%;
  --drag-opacity: 16%;
  --elevation-1: 5%;
  --elevation-2: 8%;
  --elevation-3: 11%;
  --elevation-4: 12%;
  --elevation-5: 14%;
  --grid-left-margin: 16px;
  --grid-right-margin: 16px;
  --grid-gap: 16px;
  --shape-no-rounding: 0;
  --shape-xs-rounding: 4px;
  --shape-xs-top-rounding: 4px 4px 0px 0px;
  --shape-full-rounding: 50%;
  --cubic-bezier-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
:root[data-theme=light] {
  --primary: #00629f;
  --primary-rgb: 0,
  98,
  159;
  --on-primary: #ffffff;
  --on-primary-rgb: 255,
  255,
  255;
  --primary-container: #cfe4ff;
  --primary-container-rgb: 207,
  228,
  255;
  --on-primary-container: #001d34;
  --on-primary-container-rgb: 0,
  29,
  52;
  --secondary: #00677c;
  --secondary-rgb: 0,
  103,
  124;
  --on-secondary: #ffffff;
  --on-secondary-rgb: 255,
  255,
  255;
  --secondary-container: #b0ecff;
  --secondary-container-rgb: 176,
  236,
  255;
  --on-secondary-container: #001f27;
  --on-secondary-container-rgb: 0,
  31,
  39;
  --tertiary: #695779;
  --tertiary-rgb: 105,
  87,
  121;
  --on-tertiary: #ffffff;
  --on-tertiary-rgb: 255,
  255,
  255;
  --tertiary-container: #f0dbff;
  --tertiary-container-rgb: 240,
  219,
  255;
  --on-tertiary-container: #241532;
  --on-tertiary-container-rgb: 36,
  21,
  50;
  --error: #ba1a1a;
  --error-rgb: 186,
  26,
  26;
  --on-error: #ffffff;
  --on-error-rgb: 255,
  255,
  255;
  --error-container: #ffdad6;
  --error-container-rgb: 255,
  218,
  214;
  --on-error-container: #410002;
  --on-error-container-rgb: 65,
  0,
  2;
  --success: #48680d;
  --success-rgb: 72,
  104,
  13;
  --on-success: #ffffff;
  --on-success-rgb: 255,
  255,
  255;
  --success-container: #c9f088;
  --success-container-rgb: 201,
  240,
  136;
  --on-success-container: #121f00;
  --on-success-container-rgb: 18,
  31,
  0;
  --background: #fcfcff;
  --background-rgb: 252,
  252,
  255;
  --on-background: #1a1c1e;
  --on-background-rgb: 26,
  28,
  30;
  --surface: #fcfcff;
  --surface-rgb: 252,
  252,
  255;
  --on-surface: #1a1c1e;
  --on-surface-rgb: 26,
  28,
  30;
  --outline: #73777f;
  --outline-rgb: 115,
  119,
  127;
  --surface-variant: #dee3eb;
  --surface-variant-rgb: 222,
  227,
  235;
  --on-surface-variant: #42474e;
  --on-surface-variant-rgb: 66,
  71,
  78;
  --shadow: #000000;
  --shadow-rgb: 0,
  0,
  0;
}
@media (prefers-color-scheme: light) {
  :root {
    --primary: #00629f;
    --primary-rgb: 0,
    98,
    159;
    --on-primary: #ffffff;
    --on-primary-rgb: 255,
    255,
    255;
    --primary-container: #cfe4ff;
    --primary-container-rgb: 207,
    228,
    255;
    --on-primary-container: #001d34;
    --on-primary-container-rgb: 0,
    29,
    52;
    --secondary: #00677c;
    --secondary-rgb: 0,
    103,
    124;
    --on-secondary: #ffffff;
    --on-secondary-rgb: 255,
    255,
    255;
    --secondary-container: #b0ecff;
    --secondary-container-rgb: 176,
    236,
    255;
    --on-secondary-container: #001f27;
    --on-secondary-container-rgb: 0,
    31,
    39;
    --tertiary: #695779;
    --tertiary-rgb: 105,
    87,
    121;
    --on-tertiary: #ffffff;
    --on-tertiary-rgb: 255,
    255,
    255;
    --tertiary-container: #f0dbff;
    --tertiary-container-rgb: 240,
    219,
    255;
    --on-tertiary-container: #241532;
    --on-tertiary-container-rgb: 36,
    21,
    50;
    --error: #ba1a1a;
    --error-rgb: 186,
    26,
    26;
    --on-error: #ffffff;
    --on-error-rgb: 255,
    255,
    255;
    --error-container: #ffdad6;
    --error-container-rgb: 255,
    218,
    214;
    --on-error-container: #410002;
    --on-error-container-rgb: 65,
    0,
    2;
    --success: #48680d;
    --success-rgb: 72,
    104,
    13;
    --on-success: #ffffff;
    --on-success-rgb: 255,
    255,
    255;
    --success-container: #c9f088;
    --success-container-rgb: 201,
    240,
    136;
    --on-success-container: #121f00;
    --on-success-container-rgb: 18,
    31,
    0;
    --background: #fcfcff;
    --background-rgb: 252,
    252,
    255;
    --on-background: #1a1c1e;
    --on-background-rgb: 26,
    28,
    30;
    --surface: #fcfcff;
    --surface-rgb: 252,
    252,
    255;
    --on-surface: #1a1c1e;
    --on-surface-rgb: 26,
    28,
    30;
    --outline: #73777f;
    --outline-rgb: 115,
    119,
    127;
    --surface-variant: #dee3eb;
    --surface-variant-rgb: 222,
    227,
    235;
    --on-surface-variant: #42474e;
    --on-surface-variant-rgb: 66,
    71,
    78;
    --shadow: #000000;
    --shadow-rgb: 0,
    0,
    0;
  }
}
:root[data-theme=dark] {
  --primary: #9bcbff;
  --primary-rgb: 155,
  203,
  255;
  --on-primary: #003355;
  --on-primary-rgb: 0,
  51,
  85;
  --primary-container: #004a79;
  --primary-container-rgb: 0,
  74,
  121;
  --on-primary-container: #cfe4ff;
  --on-primary-container-rgb: 207,
  228,
  255;
  --secondary: #58d6f7;
  --secondary-rgb: 88,
  214,
  247;
  --on-secondary: #003641;
  --on-secondary-rgb: 0,
  54,
  65;
  --secondary-container: #004e5e;
  --secondary-container-rgb: 0,
  78,
  94;
  --on-secondary-container: #b0ecff;
  --on-secondary-container-rgb: 176,
  236,
  255;
  --tertiary: #d5bee5;
  --tertiary-rgb: 213,
  190,
  229;
  --on-tertiary: #3a2a49;
  --on-tertiary-rgb: 58,
  42,
  73;
  --tertiary-container: #514060;
  --tertiary-container-rgb: 81,
  64,
  96;
  --on-tertiary-container: #f0dbff;
  --on-tertiary-container-rgb: 240,
  219,
  255;
  --error: #ffb4ab;
  --error-rgb: 255,
  180,
  171;
  --on-error: #690005;
  --on-error-rgb: 105,
  0,
  5;
  --error-container: #93000a;
  --error-container-rgb: 147,
  0,
  10;
  --on-error-container: #ffdad6;
  --on-error-container-rgb: 255,
  218,
  214;
  --success: #add36f;
  --success-rgb: 173,
  211,
  111;
  --on-success: #233600;
  --on-success-rgb: 35,
  54,
  0;
  --success-container: #344e00;
  --success-container-rgb: 52,
  78,
  0;
  --on-success-container: #c9f088;
  --on-success-container-rgb: 201,
  240,
  136;
  --background: #1a1c1e;
  --background-rgb: 26,
  28,
  30;
  --on-background: #e2e2e6;
  --on-background-rgb: 226,
  226,
  230;
  --surface: #1a1c1e;
  --surface-rgb: 26,
  28,
  30;
  --on-surface: #e2e2e6;
  --on-surface-rgb: 226,
  226,
  230;
  --outline: #8c9199;
  --outline-rgb: 140,
  145,
  153;
  --surface-variant: #42474e;
  --surface-variant-rgb: 66,
  71,
  78;
  --on-surface-variant: #c2c7cf;
  --on-surface-variant-rgb: 194,
  199,
  207;
  --shadow: #000000;
  --shadow-rgb: 0,
  0,
  0;
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #9bcbff;
    --primary-rgb: 155,
    203,
    255;
    --on-primary: #003355;
    --on-primary-rgb: 0,
    51,
    85;
    --primary-container: #004a79;
    --primary-container-rgb: 0,
    74,
    121;
    --on-primary-container: #cfe4ff;
    --on-primary-container-rgb: 207,
    228,
    255;
    --secondary: #58d6f7;
    --secondary-rgb: 88,
    214,
    247;
    --on-secondary: #003641;
    --on-secondary-rgb: 0,
    54,
    65;
    --secondary-container: #004e5e;
    --secondary-container-rgb: 0,
    78,
    94;
    --on-secondary-container: #b0ecff;
    --on-secondary-container-rgb: 176,
    236,
    255;
    --tertiary: #d5bee5;
    --tertiary-rgb: 213,
    190,
    229;
    --on-tertiary: #3a2a49;
    --on-tertiary-rgb: 58,
    42,
    73;
    --tertiary-container: #514060;
    --tertiary-container-rgb: 81,
    64,
    96;
    --on-tertiary-container: #f0dbff;
    --on-tertiary-container-rgb: 240,
    219,
    255;
    --error: #ffb4ab;
    --error-rgb: 255,
    180,
    171;
    --on-error: #690005;
    --on-error-rgb: 105,
    0,
    5;
    --error-container: #93000a;
    --error-container-rgb: 147,
    0,
    10;
    --on-error-container: #ffdad6;
    --on-error-container-rgb: 255,
    218,
    214;
    --success: #add36f;
    --success-rgb: 173,
    211,
    111;
    --on-success: #233600;
    --on-success-rgb: 35,
    54,
    0;
    --success-container: #344e00;
    --success-container-rgb: 52,
    78,
    0;
    --on-success-container: #c9f088;
    --on-success-container-rgb: 201,
    240,
    136;
    --background: #1a1c1e;
    --background-rgb: 26,
    28,
    30;
    --on-background: #e2e2e6;
    --on-background-rgb: 226,
    226,
    230;
    --surface: #1a1c1e;
    --surface-rgb: 26,
    28,
    30;
    --on-surface: #e2e2e6;
    --on-surface-rgb: 226,
    226,
    230;
    --outline: #8c9199;
    --outline-rgb: 140,
    145,
    153;
    --surface-variant: #42474e;
    --surface-variant-rgb: 66,
    71,
    78;
    --on-surface-variant: #c2c7cf;
    --on-surface-variant-rgb: 194,
    199,
    207;
    --shadow: #000000;
    --shadow-rgb: 0,
    0,
    0;
  }
}
@media only screen and (max-width: 599px) {
  :root {
    --grid-left-margin: 8px;
    --grid-right-margin: 8px;
    --grid-gap: 8px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 839px) {
  :root {
    --grid-left-margin: 12px;
    --grid-right-margin: 12px;
    --grid-gap: 12px;
  }
}
@media only screen and (min-width: 840px) and (max-width: 1000px) {
  :root {
    --grid-left-margin: 12px;
    --grid-right-margin: 12px;
    --grid-gap: 12px;
  }
}

body {
  background-color: var(--background);
  color: var(--on-background);
  counter-reset: section;
  min-height: 100%;
}
body:has(.grid.cookie-banner-opened) {
  overflow-y: hidden;
}

[hidden], [hidden=hidden], .hidden {
  display: none !important;
}

a {
  text-decoration: none;
  color: var(--primary);
  display: inline-block;
  outline: none;
}
a::after {
  content: "";
  display: block;
  background-color: var(--primary);
  height: 1px;
  width: 0;
  position: relative;
  bottom: 0.05em;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  opacity: 1;
}
a:visited {
  color: var(--primary);
}
@media (hover: hover) {
  a[href^=mailto]:hover, a:hover {
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
  a[href^=mailto]:hover:not(.nojoke)::before, a:hover:not(.nojoke)::before {
    content: "goto:";
    display: inline-block;
    margin-right: 0.5em;
  }
  a[href^=mailto]:hover::after, a:hover::after {
    width: 100%;
  }
  a[href^=mailto]:hover:not(.nojoke)::before {
    content: "mailto:";
  }
}

.grid {
  display: grid;
  margin-left: var(--grid-left-margin);
  margin-right: var(--grid-right-margin);
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 8em auto auto;
  grid-template-areas: "header header header header header header header header header header header header" ". main main main main main main main main main main ." "footer footer footer footer footer footer footer footer footer footer footer footer";
  transition: filter 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
@media only screen and (max-width: 599px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
  }
}
@media only screen and (min-width: 600px) and (max-width: 839px), only screen and (min-width: 840px) and (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "header header header header header header header header header header header header" "main main main main main main main main main main main main" "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
}
.grid.cookie-banner-opened {
  filter: blur(4px);
}
.grid.cookie-banner-opened button, .grid.cookie-banner-opened a, .grid.cookie-banner-opened select {
  pointer-events: none;
  user-select: none;
}

.loading .grid {
  opacity: 0;
}

.showgrid .grid > * {
  border: 3px dashed var(--error);
}

header {
  grid-area: header;
  margin-bottom: 1em;
  margin-left: calc(var(--grid-left-margin) * -1);
  margin-right: calc(var(--grid-left-margin) * -1);
  max-height: 8em;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--surface);
  transition: max-height 0.2s ease-out 0s;
  color: var(--on-surface);
  line-height: 1.75rem;
  font-size: 1.375rem;
  letter-spacing: 0rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}
header.scrolled {
  background-color: var(--surface);
  box-shadow: -9px 9px 5px 0px rgba(var(--shadow-rgb), var(--elevation-3));
  max-height: 3em;
  transition: max-height 0.3s ease-in 0s;
}
header p {
  line-height: 1.75rem;
  font-size: 1.375rem;
  letter-spacing: 0rem;
  font-weight: 400;
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
header p.dont-show {
  opacity: 0;
}
header div.trailing {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header div.trailing button {
  margin-right: 2em;
}
header div.trailing .input-container {
  margin-bottom: 0;
}

main {
  grid-area: main;
  padding: 0.5em 3em;
}
@media screen and (max-width: 599px) {
  main {
    padding: 0.5em 1.5em;
  }
}

footer {
  grid-area: footer;
  place-self: center stretch;
  text-align: center;
  font-size: 10pt;
  padding: 1em;
}

.heading {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 0.9em;
}

.numbered::before {
  counter-increment: section 1;
  content: counter(section) ".";
  margin-right: 0.25em;
}
.numbered::after {
  content: "";
  display: block;
  margin-left: 1em;
  height: 1px;
  background-color: var(--primary);
  width: 100%;
}

sup {
  font-size: 85%;
}

dl {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0 1em;
}
@media screen and (max-width: 599px) {
  dl {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
dl dt {
  line-height: 1rem;
  font-size: 0.75rem;
  letter-spacing: 0.03125rem;
  font-weight: 500;
}
@media screen and (max-width: 599px) {
  dl dt {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    font-weight: bold;
    text-decoration: underline;
  }
}
dl dd {
  line-height: 1rem;
  font-size: 0.75rem;
  letter-spacing: 0.025rem;
  font-weight: 400;
}

code {
  font-family: "FiraMono";
  background-color: var(--surface);
  padding: 0.5em;
  box-sizing: border-box;
  white-space: pre-wrap;
  display: block;
}

.d-block {
  display: block;
}

.ml-1 {
  margin-left: 1em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mt-1 {
  margin-top: 1em;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/material-icons/material-icons.woff2") format("woff2"), url("/fonts/material-icons/material-icons.woff") format("woff");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/material-icons/material-icons-outlined.woff2") format("woff2"), url("/fonts/material-icons/material-icons-outlined.woff") format("woff");
}
.material-icons-outlined {
  font-family: "Material Icons Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

@font-face {
  font-family: "Material Icons Round";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/material-icons/material-icons-round.woff2") format("woff2"), url("/fonts/material-icons/material-icons-round.woff") format("woff");
}
.material-icons-round {
  font-family: "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

@font-face {
  font-family: "Material Icons Sharp";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/material-icons/material-icons-sharp.woff2") format("woff2"), url("/fonts/material-icons/material-icons-sharp.woff") format("woff");
}
.material-icons-sharp {
  font-family: "Material Icons Sharp";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

@font-face {
  font-family: "Material Icons Two Tone";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/material-icons/material-icons-two-tone.woff2") format("woff2"), url("/fonts/material-icons/material-icons-two-tone.woff") format("woff");
}
.material-icons-two-tone {
  font-family: "Material Icons Two Tone";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

@font-face {
  font-family: "RobotoMono";
  src: url("/fonts/roboto/RobotoMono-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RobotoMono";
  src: url("/fonts/roboto/RobotoMono-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FiraMono";
  src: url("/fonts/fira/FiraMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraMono";
  src: url("/fonts/fira/FiraMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraMono";
  src: url("/fonts/fira/FiraMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "RobotoMono", monospace, system-ui, sans-serif;
}

.display-l {
  line-height: 4rem;
  font-size: 3.5625rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.display-m {
  line-height: 3.25rem;
  font-size: 2.8125rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.display-s {
  line-height: 2.75rem;
  font-size: 2.25rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.headline-l {
  line-height: 2.5rem;
  font-size: 2rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.headline-m {
  line-height: 2.25rem;
  font-size: 1.75rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.headline-s {
  line-height: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.title-l {
  line-height: 1.75rem;
  font-size: 1.375rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.title-m {
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: 0.009375rem;
  font-weight: 500;
}

.title-s {
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.00625rem;
  font-weight: 500;
}

.label-l {
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.00625rem;
  font-weight: 500;
}

.label-m {
  line-height: 1rem;
  font-size: 0.75rem;
  letter-spacing: 0.03125rem;
  font-weight: 500;
}

.label-s {
  line-height: 1rem;
  font-size: 0.6875rem;
  letter-spacing: 0.03125rem;
  font-weight: 500;
}

.body-l {
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: 0.03125rem;
  font-weight: 400;
}

.body-m {
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.015625rem;
  font-weight: 400;
}

.body-s {
  line-height: 1rem;
  font-size: 0.75rem;
  letter-spacing: 0.025rem;
  font-weight: 400;
}

button {
  border: 0;
  border-radius: var(--shape-no-rounding);
  cursor: pointer;
  outline: none;
  user-select: none;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr;
  height: 40px;
  border-radius: 20px;
  padding-left: 24px;
  padding-right: 24px;
  align-items: center;
  justify-content: center;
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.00625rem;
  font-weight: 500;
}
button:active, button:focus {
  outline: none;
}
button.with-icon {
  padding-left: 16px;
  grid-template-columns: 18px 1fr;
}
button.with-icon i {
  font-size: 18px;
}

button.filled {
  background-color: var(--primary);
  color: var(--on-primary);
}
button.filled:hover {
  box-shadow: inset 0px 40px rgba(var(--on-primary-rgb), var(--hover-opacity)), -2px 2px 1px 0px rgba(var(--shadow-rgb), var(--elevation-1));
}
button.filled:focus {
  box-shadow: inset 0px 40px rgba(var(--on-primary-rgb), var(--focus-opacity));
}
button.filled:active {
  box-shadow: inset 0px 40px rgba(var(--on-primary-rgb), var(--hover-opacity));
}

button.outlined {
  background-color: var(--surface);
  color: var(--primary);
  border: 1px solid var(--outline);
}
button.outlined:hover {
  background-color: rgba(var(--primary-rgb), var(--hover-opacity));
}
button.outlined:focus {
  background-color: rgba(var(--primary-rgb), var(--focus-opacity));
  border: 1px solid var(--primary);
}
button.outlined:active, button.outlined[aria-selected=true] {
  background-color: rgba(var(--primary-rgb), var(--press-opacity));
  border: 1px solid var(--outline);
}
button.outlined[aria-selected=true] {
  cursor: default;
}

button.icon {
  background-color: var(--primary);
  width: 40px;
  padding: 0;
}
button.icon span,
button.icon i {
  color: var(--on-primary);
  font-size: 24px;
}
button.icon:focus {
  box-shadow: -1px 1px rgba(var(--shadow-rgb), 0.5);
}

button.text {
  color: var(--primary);
  background-color: transparent;
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.00625rem;
  font-weight: 500;
  padding-left: 12px;
  padding-right: 12px;
  width: fit-content;
  min-width: 48px;
  place-self: center end;
}
button.text:hover {
  box-shadow: inset 0px 40px rgba(var(--primary-rgb), var(--hover-opacity));
}
button.text:focus {
  box-shadow: inset 0px 40px rgba(var(--primary-rgb), var(--focus-opacity));
  border: none;
}

button.switch {
  appearance: none;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  height: fit-content;
  gap: 0;
  box-sizing: content-box;
}
button.switch .thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--shape-full-rounding);
  background-color: var(--outline);
  box-shadow: none;
  width: 16px;
  height: 16px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
button.switch .thumb.icon {
  height: 24px;
  width: 24px;
}
button.switch .thumb i {
  color: var(--surface-variant);
  font-size: 16px;
}
button.switch .thumb i::before {
  content: "\f00d";
}
button.switch .track {
  cursor: pointer;
  width: 52px;
  height: 32px;
  border: 2px solid var(--outline);
  border-radius: 16px;
  display: flex;
  align-items: center;
  background-color: var(--surface-variant);
  padding-left: 4px;
  transition: background-color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}
@media (hover: hover) {
  button.switch .track:hover .thumb {
    box-shadow: 0px 0px 0px 10px rgba(var(--shadow-rgb), 0.1);
  }
}
button.switch .track:active .thumb {
  transform-origin: center;
  transform: scale(116.667%, 116.667%);
  box-shadow: 0px 0px 0px 10px rgba(var(--shadow-rgb), 0.1);
}
button.switch input[type=checkbox]:checked ~ .track {
  background-color: var(--primary);
  border: 2px solid var(--primary);
}
button.switch input[type=checkbox]:checked ~ .track .thumb {
  transform-origin: center;
  transform: translateX(20px);
  background-color: var(--on-primary);
}
button.switch input[type=checkbox]:checked ~ .track .thumb i {
  color: var(--on-primary-container);
}
button.switch input[type=checkbox]:checked ~ .track .thumb i::before {
  content: "\f00c";
}
button.switch input[type=checkbox]:checked ~ .track:active .thumb {
  transform: translateX(20px) scale(116.667%, 116.667%);
}
button.switch:disabled {
  opacity: 0.12;
  cursor: not-allowed;
}
button.switch:disabled label {
  pointer-events: none;
}

.input-container {
  position: relative;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 3fr 1fr;
  grid-template-areas: "input input input" "support . counter";
}
.input-container label {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 16px;
  position: absolute;
  top: 1em;
  transform-origin: left top;
  user-select: none;
  pointer-events: none;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), top 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: 0.03125rem;
  font-weight: 400;
  color: var(--on-surface-variant);
}
.input-container select,
.input-container input,
.input-container textarea {
  all: unset;
  grid-area: input;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--surface-variant);
  border-radius: var(--xs-top-rounding);
  padding: 0 16px;
  color: var(--on-surface);
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: 0.03125rem;
  font-weight: 400;
  border-bottom: 1px solid var(--on-surface-variant);
  transition: border 500ms, top 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  caret-color: var(--primary);
  scrollbar-color: var(--surface-variant) auto;
}
.input-container select:placeholder-shown + label,
.input-container input:placeholder-shown + label,
.input-container textarea:placeholder-shown + label {
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: 0.03125rem;
  font-weight: 400;
  color: var(--on-surface-variant);
}
.input-container select:not(:placeholder-shown),
.input-container input:not(:placeholder-shown),
.input-container textarea:not(:placeholder-shown) {
  padding: 8px 16px;
  padding-top: 1.5em;
}
.input-container select:not(:placeholder-shown) + label,
.input-container input:not(:placeholder-shown) + label,
.input-container textarea:not(:placeholder-shown) + label {
  line-height: 1rem;
  font-size: 0.75rem;
  letter-spacing: 0.025rem;
  font-weight: 400;
  color: var(--primary);
  transform: translateY(-100%);
  top: 2.2rem;
  padding: 8px 16px;
}
.input-container select:required + label::after,
.input-container input:required + label::after,
.input-container textarea:required + label::after {
  content: "*";
  vertical-align: super;
  font-size: 75%;
}
.input-container select:focus,
.input-container input:focus,
.input-container textarea:focus {
  outline: none;
  border-bottom: 1px solid var(--primary);
  padding: 8px 16px;
  padding-top: 1.5em;
}
.input-container select:focus + label,
.input-container input:focus + label,
.input-container textarea:focus + label {
  line-height: 1rem;
  font-size: 0.75rem;
  letter-spacing: 0.025rem;
  font-weight: 400;
  color: var(--primary);
  transform: translateY(-100%);
  top: 2.2rem;
  padding: 8px 16px;
}
.input-container .support-text {
  grid-area: support;
  place-self: start start;
  color: var(--on-surface-variant);
  line-height: 1rem;
  font-size: 0.75rem;
  letter-spacing: 0.025rem;
  font-weight: 400;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 4px;
}
.input-container .character-counter {
  grid-area: counter;
  place-self: start end;
  line-height: 1rem;
  font-size: 0.75rem;
  letter-spacing: 0.025rem;
  font-weight: 400;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 4px;
}
.input-container.invalid label {
  color: var(--error) !important;
}
.input-container.invalid select,
.input-container.invalid input,
.input-container.invalid textarea {
  background-color: rgba(var(--error), 0.25);
  border-bottom: 1px solid var(--error);
  caret-color: var(--error);
}
.input-container.invalid .support-text {
  color: var(--error);
}
.input-container .auto-grow {
  display: grid;
  grid-area: input;
}
.input-container .auto-grow::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
  font: inherit;
  grid-area: 1/1/2/2;
  min-height: 56px;
  padding-top: 2em;
  overflow-x: scroll;
  padding-top: 2em;
}
.input-container .auto-grow > textarea {
  resize: none;
  overflow: hidden;
  font: inherit;
  grid-area: 1/1/2/2;
  min-height: 56px;
  padding-top: 2em;
  overflow-x: scroll;
}
.input-container .auto-grow > textarea:not(:placeholder-shown) ~ label {
  padding-top: 11px;
}
.input-container .auto-grow > textarea ~ label {
  background-color: var(--surface-variant);
  width: calc(100% - 20px);
}
.input-container input {
  height: 56px;
}
.input-container ::placeholder {
  color: var(--on-surface-variant);
}

#loading {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
#loading span {
  font-family: "FiraMono";
  filter: blur(0px);
  animation: blur-text 1.5s infinite linear alternate;
}
@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(2px);
  }
}

.hero {
  margin-bottom: 10em;
}
.hero h1 {
  /**
   * optical alignement; 
   * the `H` is visually more left-aligned than the `A` below it
   */
  padding-left: 0.5em;
}
.hero h2::before {
  content: "</";
  display: inline-block;
  color: var(--error);
}
.hero h2::after {
  content: ">";
  display: inline-block;
  color: var(--error);
}
.hero p {
  margin-top: 0.5em;
  max-width: 50em;
}

.about-me {
  margin-bottom: 10em;
}
.about-me .inner {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 1em;
  place-items: center center;
}
@media only screen and (max-width: 599px) {
  .about-me .inner {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 600px) and (max-width: 839px) {
  .about-me .inner {
    grid-template-columns: 1fr;
  }
}
.about-me .inner .its-a-me {
  width: 300px;
  height: 300px;
  filter: grayscale(100%);
}
.about-me .inner .its-a-me::after {
  content: "";
  position: relative;
  border: 2px dashed var(--on-background);
  border-radius: var(--shape-xs-rounding);
  width: 100%;
  height: 100%;
  top: -280px;
  left: 20px;
  display: block;
  z-index: -1;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.about-me .inner .its-a-me:hover {
  filter: grayscale(0%);
}
.about-me .inner .its-a-me:hover::after {
  top: -298px;
  left: 2px;
  border-color: var(--error);
  border-style: dashed dotted;
}
.about-me .inner .its-a-me img {
  pointer-events: none;
  border-radius: var(--shape-xs-rounding);
  background-image: url("../img/portrait@1x.png");
  background-size: 300px 300px;
  transition: filter 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
[data-img-format=webp] .about-me .inner .its-a-me img {
  background-image: url("../img/portrait@1x.webp");
}
[data-img-format=avif] .about-me .inner .its-a-me img {
  background-image: url("../img/portrait@1x.avif");
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .about-me .inner .its-a-me img {
    background-image: url("../img/portrait@2x.png");
  }
  [data-img-format=webp] .about-me .inner .its-a-me img {
    background-image: url("../img/portrait@2x.webp");
  }
  [data-img-format=avif] .about-me .inner .its-a-me img {
    background-image: url("../img/portrait@2x.avif");
  }
}
.about-me ul.skill-list {
  padding-top: 1em;
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 1fr));
}
@media only screen and (max-width: 599px) {
  .about-me ul.skill-list {
    grid-template-columns: 1fr 1fr;
  }
}
.about-me ul li {
  list-style: none;
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.015625rem;
  font-weight: 400;
}
.about-me ul li svg {
  height: 0.875em;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: baseline;
}

.worked-at {
  margin-bottom: 10em;
}
@media only screen and (max-width: 599px) {
  .worked-at h2 {
    white-space: normal;
  }
}
.worked-at .inner {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  grid-gap: 2em;
  grid-template-areas: "companies jobs";
}
@media only screen and (max-width: 599px) {
  .worked-at .inner {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "companies" "jobs";
  }
}
.worked-at .companies {
  grid-area: companies;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 599px) {
  .worked-at .companies {
    flex-direction: row;
    justify-content: space-between;
  }
}
.worked-at .companies button {
  margin: 2em 0;
}
@media (hover: hover) {
  .worked-at .companies button[aria-selected=false]:hover {
    display: inline-block;
  }
  .worked-at .companies button[aria-selected=false]:hover::before {
    content: "open: ";
    display: inline-block;
    margin-right: 0.2rem;
  }
}
.worked-at .jobs {
  grid-area: jobs;
  width: 100%;
}
.worked-at .jobs .job-panel[aria-hidden=true] {
  display: none;
}
.worked-at .jobs .panel-header {
  margin-bottom: 1em;
}
.worked-at .jobs .panel-body ul {
  margin-left: 1em;
}
.worked-at .jobs .panel-body ul li {
  margin-bottom: 0.25em;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/material-icons/material-icons.woff2") format("woff2"), url("/fonts/material-icons/material-icons.woff") format("woff");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/material-icons/material-icons-outlined.woff2") format("woff2"), url("/fonts/material-icons/material-icons-outlined.woff") format("woff");
}
.material-icons-outlined {
  font-family: "Material Icons Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

@font-face {
  font-family: "Material Icons Round";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/material-icons/material-icons-round.woff2") format("woff2"), url("/fonts/material-icons/material-icons-round.woff") format("woff");
}
.material-icons-round {
  font-family: "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

@font-face {
  font-family: "Material Icons Sharp";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/material-icons/material-icons-sharp.woff2") format("woff2"), url("/fonts/material-icons/material-icons-sharp.woff") format("woff");
}
.material-icons-sharp {
  font-family: "Material Icons Sharp";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

@font-face {
  font-family: "Material Icons Two Tone";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/material-icons/material-icons-two-tone.woff2") format("woff2"), url("/fonts/material-icons/material-icons-two-tone.woff") format("woff");
}
.material-icons-two-tone {
  font-family: "Material Icons Two Tone";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

@font-face {
  font-family: "RobotoMono";
  src: url("/fonts/roboto/RobotoMono-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RobotoMono";
  src: url("/fonts/roboto/RobotoMono-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FiraMono";
  src: url("/fonts/fira/FiraMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraMono";
  src: url("/fonts/fira/FiraMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraMono";
  src: url("/fonts/fira/FiraMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "RobotoMono", monospace, system-ui, sans-serif;
}

.display-l {
  line-height: 4rem;
  font-size: 3.5625rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.display-m {
  line-height: 3.25rem;
  font-size: 2.8125rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.display-s {
  line-height: 2.75rem;
  font-size: 2.25rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.headline-l {
  line-height: 2.5rem;
  font-size: 2rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.headline-m {
  line-height: 2.25rem;
  font-size: 1.75rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.headline-s {
  line-height: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.title-l {
  line-height: 1.75rem;
  font-size: 1.375rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

.title-m {
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: 0.009375rem;
  font-weight: 500;
}

.title-s {
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.00625rem;
  font-weight: 500;
}

.label-l {
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.00625rem;
  font-weight: 500;
}

.label-m {
  line-height: 1rem;
  font-size: 0.75rem;
  letter-spacing: 0.03125rem;
  font-weight: 500;
}

.label-s {
  line-height: 1rem;
  font-size: 0.6875rem;
  letter-spacing: 0.03125rem;
  font-weight: 500;
}

.body-l {
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: 0.03125rem;
  font-weight: 400;
}

.body-m {
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.015625rem;
  font-weight: 400;
}

.body-s {
  line-height: 1rem;
  font-size: 0.75rem;
  letter-spacing: 0.025rem;
  font-weight: 400;
}

.snackbar {
  display: grid;
  grid-template-columns: 4fr 1fr;
  box-sizing: border-box;
  color: var(--on-success);
  background-color: var(--success);
  padding: 16px 8px 16px 16px;
  place-content: center start;
  border-radius: var(--shape-xs-rounding);
  position: fixed;
  bottom: 1em;
  left: 1em;
  right: 1em;
  z-index: 1;
}
.snackbar button {
  color: var(--on-success);
}
.snackbar.error {
  color: var(--on-error);
  background-color: var(--error);
}
.snackbar.error button {
  color: var(--on-error);
}
.snackbar[aria-hidden=true] {
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.snackbar[aria-hidden=false] {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.snackbar p {
  display: flex;
  align-items: center;
}

.say-hello {
  margin-bottom: 10em;
}
.say-hello .inner {
  max-width: 960px;
  margin: 0 auto;
}
.say-hello .inner p {
  margin-bottom: 2em;
}
.say-hello .cookies-disallowed {
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--surface-variant);
  padding: 2em;
  border-radius: var(--shape-xs-rounding);
}
.say-hello .cookies-disallowed p {
  margin-bottom: 1.5em;
}
.say-hello .cookies-disallowed button.filled {
  margin-bottom: 1.5em;
}
.say-hello .cookies-disallowed .dotted-line {
  width: 75%;
  margin: 1em auto;
  border-bottom: 3px dotted var(--on-surface-variant);
}
.say-hello .cookies-disallowed .under-16 b {
  color: var(--error);
}

#cookie-banner {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--surface-variant);
  color: var(--on-surface-variant);
  padding: 1em;
  border-radius: var(--shape-xs-rounding);
  overflow: auto;
  z-index: 1;
  perspective: 1500px; /* flip  animation */
}
@media screen and (max-width: 599px) {
  #cookie-banner {
    top: 1em;
    left: 1em;
    right: 1em;
    bottom: 1em;
  }
}
@media screen and (min-width: 600px) {
  #cookie-banner {
    bottom: 0;
    margin: 1em;
    max-width: calc(100vw - 2em);
    max-height: calc(100vh - 2em);
  }
}
#cookie-banner h3 {
  text-align: center;
}
#cookie-banner hr {
  width: 50%;
  margin: 1em auto;
}
#cookie-banner.rotated .turnaround {
  transform: rotateY(180deg);
}
#cookie-banner .turnaround {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transform-style: preserve-3d;
  position: relative;
  height: 100%;
}
#cookie-banner .front,
#cookie-banner .back {
  backface-visibility: hidden;
}
@media screen and (max-width: 599px) {
  #cookie-banner .front,
#cookie-banner .back {
    width: calc(100vw - 4em);
    height: calc(100vh - 2em);
    overflow-y: scroll;
  }
}
#cookie-banner .back {
  transform: rotateY(180deg);
}
#cookie-banner .consent-text {
  box-sizing: border-box;
  padding: 0 1em;
  margin: 2em 0;
  z-index: 3;
}
#cookie-banner .consent-text p {
  z-index: 3;
  grid-area: text;
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.015625rem;
  font-weight: 400;
}
#cookie-banner .consent-text p b {
  font-weight: bolder;
}
#cookie-banner .consent-text p.usa-addition, #cookie-banner .consent-text p.under-16, #cookie-banner .consent-text p.disclaimer {
  line-height: 1rem;
  font-size: 0.75rem;
  letter-spacing: 0.025rem;
  font-weight: 400;
}
#cookie-banner .consent-text p.under-16 b {
  color: var(--error);
}
#cookie-banner .consent-text p:not(:first-child) {
  margin-top: 1em;
}
#cookie-banner .actions {
  grid-area: button;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em;
  z-index: 3;
}
#cookie-banner .actions #accept-all {
  background-color: var(--primary);
  color: var(--on-primary);
}
#cookie-banner .actions #accept-none {
  background-color: var(--error);
  color: var(--on-error);
}
@media (hover: hover) {
  #cookie-banner .actions #show-cookie-details:hover,
#cookie-banner .actions #hide-cookie-details:hover {
    display: inline-block;
  }
  #cookie-banner .actions #show-cookie-details:hover::before,
#cookie-banner .actions #hide-cookie-details:hover::before {
    content: "open: ";
    display: inline-block;
    margin-right: 0.2rem;
  }
}
#cookie-banner .actions button:not(:first-child) {
  margin-left: 1em;
}
@media screen and (max-width: 599px) {
  #cookie-banner .actions button {
    margin-top: 1em;
  }
  #cookie-banner .actions button:not(:first-child) {
    margin-left: 0;
  }
}
#cookie-banner::before, #cookie-banner::after {
  position: absolute;
  content: "\f564";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 100px;
  opacity: 0.3;
  color: var(--tertiary);
}
#cookie-banner::before {
  left: 1rem;
  top: 1rem;
  z-index: 0;
}
#cookie-banner::after {
  right: 1rem;
  bottom: 1rem;
  z-index: 0;
}
#cookie-banner .cookies-list {
  padding-right: 1em;
  padding-left: 1em;
}
#cookie-banner .cookies-list h3 {
  margin-top: 1em;
  margin-bottom: 2em;
}
#cookie-banner .cookies-list div.essential,
#cookie-banner .cookies-list div.functional {
  border: 1px solid;
  border-radius: var(--shape-xs-rounding);
  padding: 1em 1em 1em 1em;
  display: flex;
  flex-direction: column;
}
#cookie-banner .cookies-list div.essential .consent-switch,
#cookie-banner .cookies-list div.functional .consent-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#cookie-banner .cookies-list div.essential:not(:last-child),
#cookie-banner .cookies-list div.functional:not(:last-child) {
  margin-bottom: 1em;
}
#cookie-banner .cookies-list div.actions {
  display: flex;
  flex-direction: row;
  margin: 1em 0;
  z-index: 3;
}
#cookie-banner .cookies-list button[role=tab] {
  align-self: flex-start;
  margin-top: 1em;
  margin-inline-start: -1em;
}
@media (hover: hover) {
  #cookie-banner .cookies-list button[role=tab][aria-selected=false]:hover {
    display: inline-block;
  }
  #cookie-banner .cookies-list button[role=tab][aria-selected=false]:hover::before {
    content: "open: ";
    display: inline-block;
    margin-right: 0.2rem;
  }
}
#cookie-banner .cookies-list button[role=tab][aria-selected=true] {
  color: var(--error);
}
@media (hover: hover) {
  #cookie-banner .cookies-list button[role=tab][aria-selected=true]:hover {
    display: inline-block;
  }
  #cookie-banner .cookies-list button[role=tab][aria-selected=true]:hover::before {
    content: "close: ";
    display: inline-block;
    margin-right: 0.2rem;
  }
}
#cookie-banner .cookies-list button[role=tab][aria-selected=true]:hover {
  box-shadow: inset 0px 40px rgba(var(--error-rgb), var(--hover-opacity));
}
#cookie-banner .cookies-list button[role=tab][aria-selected=true]:focus {
  box-shadow: inset 0px 40px rgba(var(--error-rgb), var(--focus-opacity));
}
#cookie-banner .cookies-list .service-information {
  display: block;
  margin-top: 1em;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

/*# sourceMappingURL=style.css.map */
