<div class="turnaround">
    <div class="front">
        <h3>Privatsphären-Einstellungen</h3>
        <div class="consent-text">
            <p>
                Hi 👋,<br />
                ich verwende Cookies und ähnliche Technologien auf meiner Website und verarbeite
                personenbezogene
                Daten
                über Dich, wie Deine <b>IP-Adresse</b>. Diese Daten werden auch mit Dritten geteilt.
                Die Datenverarbeitung kann mit Deiner Einwilligung oder auf Basis eines berechtigten Interesses
                erfolgen, dem Du in den individuellen Datenschutzeinstellungen widersprechen kannst.
                Du hast das Recht, nur in essenzielle Services einzuwilligen und Deine Einwilligung zu einem
                späteren
                Zeitpunkt zu ändern oder zu widerrufen.<br />
                Lade dazu die Seite einfach neu.
            </p>
            <hr />
            <p class="usa-addition">
                Einige Services verarbeiten personenbezogene Daten in den USA.<br />
                Indem Du der Nutzung dieser Services zustimmst, erklärst Du Dich auch mit der Verarbeitung
                Deiner
                Daten
                in den USA gemäß <a href="https://dsgvo-gesetz.de/art-49-dsgvo/" rel="noopener noreferer"
                    target="_blank">Art. 49 Abs. 1 lit. a DSGVO</a> einverstanden.
                <b>Die USA werden vom EuGH als ein Land mit einem unzureichenden Datenschutzniveau nach
                    EU-Standards
                    angesehen.</b>
                Insbesondere besteht das Risiko, dass Deine Daten von US-Behörden zu Kontroll- und
                Überwachungszwecken
                verarbeitet werden, unter Umständen ohne die Möglichkeit eines Rechtsbehelfs.
            </p>
            <p class="under-16">
                <b>Jünger als 16?</b> Gemäß <a href="https://dsgvo-gesetz.de/art-49-dsgvo/" rel="noopener noreferer"
                    target="_blank">Art. 8 DSGVO</a> kannst Du nicht in optionale
                Services einwilligen. <br />
                Sprich mit Deinen Eltern oder Erziehungsberechtigten und bitte sie, mit Dir gemeinsam in diese
                Services
                einzuwilligen.
            </p>
            <p class="disclaimer">
                Diese Cookies und ähnliche Technologien sind nach ihrem Zweck in die Gruppen
                Funktional<sup>1</sup>,
                Statistik<sup>2</sup> und Marketing<sup>3</sup> unterteilt.
                Die Zugehörigkeit wird im folgenden durch hochgestellte Zahlen gekennzeichnet.
                Services, die Daten in den USA verarbeiten, werden nachfolgend mit hochgestellten <sup>USA</sup>
                gekennzeichnet.
            </p>
            <hr />
            <p>
                Wenn Du alle Dienste akzeptierst, erlaubst Du, dass <b>Google&nbsp;reCAPTCHA<sup>1,USA</sup></b>
                geladen
                wird.
            </p>
        </div>
        <div class="actions">
            <button type="button" id="accept-all" class="filled">Alle akzeptieren</button>
            <button type="button" id="accept-none" class="filled">Weiter ohne Einwilligung</button>
            <button type="button" id="show-cookie-details" class="text">Individuelle Einstellungen</button>
        </div>
    </div>
    <div class="back hidden">
        <div class="cookies-list">
            <h3 class="mb-1">Individuelle Einstellungen</h3>
            <form id="individual-cookie-consent-form" action="#">
                <div class="essential">
                    <div class="consent-switch">
                        <p class="title-m" id="essential-cookies-switch-label">Essenziell</p>
                        <button type="button" class="switch" role="switch"
                            aria-labelledby="essential-cookies-switch-label" disabled>
                            <label for="essential-cookies">
                                <input id="essential-cookies" name="essential-cookies" type="checkbox" hidden checked>
                                <div class="track">
                                    <div class="thumb icon">
                                        <i class="fa-solid"></i>
                                    </div>
                                </div>
                            </label>
                        </button>
                    </div>
                    <p class="body-s">
                        Essenziell Services sind für die grundlegende Funktionalität der Website
                        erforderlich.<br />
                        Sie enthalten technisch notwendige Services. Diesen Services kann nicht widersprochen
                        werden.<br />
                    </p>
                    <button type="button" class="body-s text" role="tab" aria-selected="false" aria-expanded="false"
                        aria-controls="service-info-0">Service-Informationen
                        anzeigen</button>
                    <div id="service-info-0" class="service-information" aria-hidden="true" role="tabpanel">
                        <span class="d-block title-m">Einstellungen auf dieser Seite</span>
                        <dl>
                            <dt>Zweck</dt>
                            <dd>Einstellungen, wie das zuletzt verwendete Theme oder die von Dir bevorzugte
                                Sprache werden für zukünftige Besuche gespeichert.</dd>

                            <dt>Gesetzliche Grundlage</dt>
                            <dd>Berechtigtes Interesse</dd>

                            <dt>Anbieter</dt>
                            <dd>alexander-lang.net</dd>

                            <dt>Datenschutzerklärung</dt>
                            <dd><a href="/privacy-policy" target="_blank">https://alexander-lang.net/privacy-policy/</a>
                            </dd>

                            <dt>US-Datenverarbeitung</dt>
                            <dd>Nein</dd>

                            <dt>Technische Definition</dt>
                            <dd><code>selected_theme, selected_locale</code></dd>

                            <dt class="ml-1">Typ</dt>
                            <dd>Local Storage</dd>

                            <dt class="ml-1">Host</dt>
                            <dd>alexander-lang.net</dd>

                            <dt class="ml-1">Dauer</dt>
                            <dd>Kein Ablauf</dd>
                        </dl>
                        <span class="d-block mt-1 title-m">Cookie-Zustimmung</span>
                        <dl>
                            <dt>Zweck</dt>
                            <dd>
                                Einstellungen, die Du in den Privatsphären-Einstellungen oder später auf der
                                Seite triffst, werden für 3 Monate gespeichert.
                                Nach diesem Zeitraum muss Du die Einstellungen erneut treffen.
                            </dd>

                            <dt>Gesetzliche Grundlage</dt>
                            <dd>Berechtigtes Interesse</dd>

                            <dt>Anbieter</dt>
                            <dd>alexander-lang.net</dd>

                            <dt>Datenschutzerklärung</dt>
                            <dd><a href="/privacy-policy" target="_blank">https://alexander-lang.net/privacy-policy/</a>
                            </dd>

                            <dt>US-Datenverarbeitung</dt>
                            <dd>Nein</dd>

                            <dt>Technische Definition</dt>
                            <dd><code>consent_cookies</code></dd>

                            <dt class="ml-1">Typ</dt>
                            <dd>Local Storage</dd>

                            <dt class="ml-1">Host</dt>
                            <dd>alexander-lang.net</dd>

                            <dt class="ml-1">Dauer</dt>
                            <dd>3 Monate</dd>
                        </dl>
                    </div>
                </div>
                <div class="functional">
                    <div class="consent-switch">
                        <p class="title-m" id="functional-cookies-switch-label">Funktional</p>
                        <button type="button" class="switch" role="switch"
                            aria-labelledby="functional-cookies-switch-label">
                            <label for="functional-cookies">
                                <input id="functional-cookies" name="functional-cookies" type="checkbox" hidden>
                                <div class="track">
                                    <div class="thumb icon">
                                        <i class="fa-solid"></i>
                                    </div>
                                </div>
                            </label>
                        </button>
                    </div>
                    <p class="body-s">
                        Funktionale Services sind notwendig, um über die wesentliche Funktionalität
                        hinausgehende Features wie hübschere Schriftarten,
                        Videowiedergabe oder interaktive Web 2.0-Features bereitzustellen.
                        Inhalte von z.B. Videoplattformen und Social Media Plattformen sind standardmäßig
                        gesperrt und können zugestimmt werden.
                        Wenn dem Service zugestimmt wird, werden diese Inhalte automatisch ohne weitere manuelle
                        Einwilligung geladen.
                    </p>
                    <button type="button" class="body-s text" role="tab" aria-selected="false" aria-expanded="false"
                        aria-controls="service-info-1">Service-Informationen
                        anzeigen</button>
                    <div id="service-info-1" class="service-information" aria-hidden="true" role="tabpanel">
                        <span class="d-block title-m">Google reCAPTCHA</span>
                        <dl>
                            <dt>Zweck</dt>
                            <dd>
                                Google reCAPTCHA ist eine Lösung zur Erkennung von Bots, z.B. bei der Eingabe
                                von Daten in Formulare, und zur Verhinderung von Spam.
                                Die Cookies dienen dazu den Nutzer innerhalb der Google bekannten Daten über den
                                Nutzer zu identifizieren und die Bösartigkeit des Nutzers zu klassifizieren.
                                Diese gesammelten Daten können mit Daten von Nutzern verknüpft werden, die sich
                                bei ihren Google-Konten auf google.com oder einer lokalisierten Version von
                                Google angemeldet haben.
                            </dd>

                            <dt>Gesetzliche Grundlage</dt>
                            <dd>Einwilligung</dd>

                            <dt>Anbieter</dt>
                            <dd>Google Ireland Limited</dd>

                            <dt>Datenschutzerklärung</dt>
                            <dd><a href="https://policies.google.com/privacy" rel="noopener noreferer"
                                    target="_blank">https://policies.google.com/privacy</a></dd>

                            <dt>US-Datenverarbeitung</dt>
                            <dd>Ja</dd>

                            <dt>Technische Definition</dt>
                            <dd><code>rc::a, sb_wiz.zpc., _c;;i, LH;;s-nzYLY_uMMYr4aeP6tqgD-dt-1, sb_wiz.ueh</code>
                            </dd>

                            <dt class="ml-1">Typ</dt>
                            <dd>Local Storage</dd>

                            <dt class="ml-1">Host</dt>
                            <dd>https://www.google.de</dd>

                            <dt class="ml-1 mb-1">Dauer</dt>
                            <dd>Kein Ablauf</dd>

                            <dt>Technische Definition</dt>
                            <dd><code>DV</code></dd>

                            <dt class="ml-1">Typ</dt>
                            <dd>Cookie</dd>

                            <dt class="ml-1">Host</dt>
                            <dd>www.google.com</dd>

                            <dt class="ml-1 mb-1">Dauer</dt>
                            <dd>1 Minute</dd>

                            <dt>Technische Definition</dt>
                            <dd><code>1P_JAR, OTZ</code></dd>

                            <dt class="ml-1">Typ</dt>
                            <dd>Cookie</dd>

                            <dt class="ml-1">Host</dt>
                            <dd>.google.com</dd>

                            <dt class="ml-1 mb-1">Dauer</dt>
                            <dd>30 Tage</dd>

                            <dt>Technische Definition</dt>
                            <dd><code>SEARCH_SAMESITE, AEC, NID</code></dd>

                            <dt class="ml-1">Typ</dt>
                            <dd>Cookie</dd>

                            <dt class="ml-1">Host</dt>
                            <dd>.google.com</dd>

                            <dt class="ml-1 mb-1">Dauer</dt>
                            <dd>6 Monate</dd>

                            <dt>Technische Definition</dt>
                            <dd><code>SIDCC, __Secure-1PSIDCC, __Secure-3PSIDCC</code></dd>

                            <dt class="ml-1">Typ</dt>
                            <dd>Cookie</dd>

                            <dt class="ml-1">Host</dt>
                            <dd>.google.de</dd>

                            <dt class="ml-1 mb-1">Dauer</dt>
                            <dd>1 Jahr</dd>

                            <dt>Technische Definition</dt>
                            <dd><code>__Secure-ENID</code></dd>

                            <dt class="ml-1">Typ</dt>
                            <dd>Cookie</dd>

                            <dt class="ml-1">Host</dt>
                            <dd>.google.de</dd>

                            <dt class="ml-1 mb-1">Dauer</dt>
                            <dd>1 Jahr</dd>

                            <dt>Technische Definition</dt>
                            <dd><code>SID, __Secure-1PSID, __Secure-3PSID, HSID, SSID, APISID, SAPISID, __Secure-1PAPISID, __Secure-3PAPISID</code>
                            </dd>

                            <dt class="ml-1">Typ</dt>
                            <dd>Cookie</dd>

                            <dt class="ml-1">Host</dt>
                            <dd>.google.de</dd>

                            <dt class="ml-1 mb-1">Dauer</dt>
                            <dd>400 Tage</dd>
                        </dl>
                    </div>
                </div>
                <div class="actions">
                    <button type="submit" class="filled">Individuelle Einstellungen speichern</button>
                    <button type="button" id="hide-cookie-details" class="text">Zurück</button>
                </div>
            </form>
        </div>
    </div>
    <p class="ml-1"><a href="/datenschutz">Datenschutzerklärung</a></p>
</div>
<script>
    (() => {
        const close_cookie_banner = () => {
            document.querySelector('.grid').classList.remove('cookie-banner-opened');
            cookie_banner.classList.add('hidden');
        };
        const allow_cookies = (consent_cookies = { grecaptcha: true }) => {
            const date = new Date();
            consent_cookies.valid_until = new Date(date.setMonth(date.getMonth() + 3)).toJSON();
            localStorage.setItem('consent_cookies', JSON.stringify(consent_cookies));
            if (consent_cookies.grecaptcha) {
                activate_recaptcha();
            }
        };
        cookie_banner.querySelector('#accept-all')?.addEventListener('click', () => {
            close_cookie_banner();
            allow_cookies();
        });

        cookie_banner.querySelector('#accept-none')?.addEventListener('click', close_cookie_banner);
        document.querySelector('#individual-cookie-consent-form')?.addEventListener('submit', async e => {
            const fd = new FormData(e.target);
            if (fd.has('functional-cookies') && fd.get('functional-cookies') == 'on') {
                allow_cookies({ grecaptcha: true });
            }
            close_cookie_banner();
        })
        cookie_banner.querySelector('#show-cookie-details')?.addEventListener('click', (e) => {
            e.preventDefault();
            cookie_banner.classList.add('rotated');
            cookie_banner.querySelector('.front').classList.add('hidden');
            cookie_banner.querySelector('.back').classList.remove('hidden');
        });
        cookie_banner.querySelector('#hide-cookie-details')?.addEventListener('click', (e) => {
            e.preventDefault();
            cookie_banner.classList.remove('rotated');
            cookie_banner.querySelector('.front').classList.remove('hidden');
            cookie_banner.querySelector('.back').classList.add('hidden');
        });
        cookie_banner.querySelector('form')?.addEventListener('submit', (e) => {
            e.preventDefault();

            console.log(new FormData(e.target));
        });

        const btns = cookie_banner.querySelectorAll('.cookies-list button[role="tab"]');
        btns.forEach(button => {
            button.addEventListener('click', (e) => {
                const isToggled = e.target.ariaSelected == 'true';
                document.querySelectorAll('.service-information[role="tabpanel"]').forEach(e => e.ariaHidden = true);
                setTimeout(() => {
                    document.getElementById(e.target.getAttribute('aria-controls')).ariaHidden = isToggled ? true : false;
                    btns.forEach(e => {
                        e.ariaSelected = false;
                        e.ariaExpanded = false;
                    });
                    e.target.ariaSelected = !isToggled;
                    e.target.ariaExpanded = !isToggled;
                }, 200);
            });
        });
        document.querySelector('#say-hello-accept-cookies').addEventListener('click', () => allow_cookies());
    })();
</script>